#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.post {
    text-align: left;
    box-shadow: 0 1px 2px #555;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.post h3 {
  text-align: center;
  text-transform: capitalize;
}

.tagline{
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}